*.class

# directories #
/target/archive-tmp/
/target/classes/
/target/generated-sources/
/target/maven-archiver/
/target/test-classes/


/.idea/

# Package Files #
*.war
*.impl
*.log
*.ear
*.zip
*.tar.gz
*.rar

# Ignore IntelliJ and Eclipse project files. #
.settings
.classpath
.project
.iws
.iml
